#topMenu, #bottomMenu {
  background-color: #017574;
}

body {
  --bs-body-color: white;
  background: url("") no-repeat center center fixed;
  background-size: cover;
}

li.nav-item.nav-link{
  color: white;
}

#orderTake {
  color: #F1A228;
}

#menu {
  background-color: #8E8579;
  color: white;
}

#dukeImg {

}
